body {
    background-color: rgb(195, 210, 220);
}
.App {
    text-align: center;
}
.input-group {
    width: 50%;
}

.card {
    max-width: 60%;
}

.card-text {
    text-shadow: 1.5px 1px black;
}

.card-desc {
    text-shadow: 1.5px 1px black;
}